h1{
    color: brown;
}
header{
    display: flex;
    height: 54px;
    align-items: center;
    justify-content:space-around;
    border-bottom: solid 1px #DBDBDB;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    
}

.logo{
    display: flex;
    align-items: center;
    
}

.logo img{ padding-left: 10px;}

.logo ion-icon{
    padding-right: 11.38px;
    font-size: 19.25px;
    border-right: solid 1px #DBDBDB;
}

.pesquisar{
    display: flex;
    justify-content: center;
    width: 215px;
    height: 28px;
    align-items: center;
    border: solid 1px #DBDBDB;
}
.menus{
    display: flex;
    justify-content: space-between;
}

.menus ion-icon{
    padding-right: 11.38px;
    font-size: 19.25px;

}

.conteudo{
    background: #E5E5E5;
    width: 100%;
    height: 100%;
    margin-top: 54px;
    display: flex;
    
    
}

.publicacoes{
    width: 614px;
    margin-left: 215px;
}

.barra-lateral{
    background: #E5E5E5;
    width: 293px;
    height:443px ;
    /* margin-left: 30px;
    margin-right: 216px;
    margin-top: 57px;
    */
    position: fixed;
    top: 111px; 
    left: 858px;
    right: 216px;

}

.barra-lateral .perfil{
    height: 80px;
    background: gray;
}

.barra-lateral .sugestoes{
    height: 245px;
    background: peru;
}

.barra-lateral .infos-empresa p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}

.infos-empresa .sobre{
    margin-top: 33px;
}

.infos-empresa .empresa{
    margin-top: 18px;
    margin-bottom: 0px;
}

.storys{
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 614px;
    height: 118px;
    margin-top: 34px;
    margin-right: 10px;
}

.story{
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.story .borda {

    width: 66px;
    height: 66px;
    border-radius: 33px;
    position: relative;
    
    top: 0px;
    left: 0px;
}

.story img{
    width: 56px;
    height: 56px;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    
}

.publicacoes .publicacao{
    background: rgba(255, 255, 255, 1);
    width: 614px;
    margin-top: 24px;
    margin-bottom: 60px;
}

.publicacao .imagens{
    width: 612px;
    height: 612px;
}

.publicacao .usuario{
    display: flex;
    align-items: center;
    height: 61px;

}
.usuario img{
    width: 32px;
    margin-left: 17px;
    margin-right: 15px;
}

.usuario p{ width: 109px;}

.usuario ion-icon{
    color: rgba(38, 38, 38, 1);
    margin-left: 409.5px;
    /* margin-left: 582.5px; */
}

.publicacao .interracao-publicacao{ height: 76px; }

.interracao-publicacao .curtidas{
    display: flex;
    
    height: 34px;
    align-items: center;
    margin-bottom: 0px;
}

.interracao-publicacao .opcoes{
   
    height: 42px;
}

.curtidas img{ 
    height: 20px;
    margin-bottom: 14px;
    margin-left: 17px;
    margin-right: 5px;
}

.curtidas p{ 
    margin-bottom: 14px;
}

.opcoes .icon-heart{
    width: 16.5px;
    height: 15.13px;
    margin-left: 17.75px;
    margin-top: 13.44px;
}

.opcoes .chatbubble{
    height: 17.88px;
    width: 17.88px;
    margin-left: 17.81px;
    margin-top: 12.06px;

}

.opcoes .icon-paper-plane{
    height: 17.87px;
    width: 17.87px;
    margin-left: 18.12px;
    margin-top: 12.06px;

}

.opcoes .icon-bookmark{
    height: 17.88px;
    width: 12.38px;
    margin-left: 478.06px;
    margin-top: 14px;

}
