/*               Barra Topo                   */

header{
    
    border-bottom: solid 1px #DBDBDB;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    
}
.barra-topo-desktop{
    display: flex;
    height: 54px;
    align-items: center;
    justify-content:space-around;
}
.barra-topo-mobile{
    display: none;
}

.barra-inferior-mobile{
    display: none;
}

.barra-topo-desktop .logo{
    display: flex;
    align-items: center;
    
}

.barra-topo-desktop .logo img{ padding-left: 10px;}

.barra-topo-desktop .logo ion-icon{
    padding-right: 11.38px;
    font-size: 19.25px;
    border-right: solid 1px #DBDBDB;
}

.barra-topo-desktop .pesquisar{
    display: flex;
    justify-content: center;
    width: 215px;
    height: 28px;
    align-items: center;
    border: solid 1px #DBDBDB;
}
.barra-topo-desktop .menus{
    display: flex;
    justify-content: space-between;
}

.barra-topo-desktop .menus ion-icon{
    padding-right: 11.38px;
    font-size: 19.25px;

}

/*              Sidebar                   */
.barra-lateral{

    width: 293px;
    height:443px ;
    position: fixed;
    top: 111px; 
    left: 858px;
    right: 216px;

}

.barra-lateral .perfil{
    display: flex;
    align-items: center;
    height: 80px;
}

.perfil img{
    width: 56px;
    height: 56px;
    margin-right: 17px;
}

.barra-lateral .sugestoes{
    height: 245px;
}

.sugestoes div{
    display: flex;
    justify-content: space-between;

}
.sugestao{
    display: flex;
    align-items: center;
    margin-top: 17px;
}

.sugestao .perfil-sugestoes {
    display: flex;
    align-items: center;
}

.perfil-sugestoes .nome{
    display: flex;
    flex-direction: column;
}

.nome h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #262626;
    margin-bottom: 6px;
}

.nome h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #8E8E8E;
}
.sugestao p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #139EF2;
}
.perfil-sugestoes img{ 
    margin-right: 11px;

}

.barra-lateral .infos-empresa p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}

.infos-empresa .sobre{
    margin-top: 33px;
}

.infos-empresa .empresa{
    margin-top: 18px;
    margin-bottom: 0px;
}

/*              Storys                 */

.storys{
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 614px;
    height: 118px;
    margin-top: 34px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}
.storys .seta{
    background: rgba(255, 255, 255, 1);
    display: flex;
    position: absolute;
    border-radius: 60px;
    box-shadow: 0 0 10px gray;
    width: 26px;
    height: 26px;
    right: 8px;
    align-items:center;
    justify-content: center;
    z-index: 1;
}

.story-primeiro{ margin-left: 18px;}
.story{
    position: relative;
    height: 86px;
    margin-top: 18px;
    margin-bottom: 14px;
    margin-right: 14px;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.story p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #262626;
}

.story .borda {

    width: 66px;
    height: 66px;
    border-radius: 33px;
    position: relative;
    
    top: 0px;
    left: 0px;
}

.story img{
    width: 56px;
    height: 56px;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    
}

/*              Pubicações                */

.conteudo{
    background: #E5E5E5;
    width: 100%;
    height: 100%;
    margin-top: 54px;
    display: flex;
    
}

.publicacoes{
    width: 614px;
    margin-left: 215px;
}

.publicacoes .publicacao{
    background: rgba(255, 255, 255, 1);
    width: 614px;
    margin-top: 24px;
    margin-bottom: 60px;
}

.publicacao .imagens{
    width: 612px;
    height: 612px;
}
.publicacao video{
    width: 612px;
    height: 612px;
}

/*    Publicação Usuario  --> cabeçario da publicação    */

.publicacao .usuario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 61px;

}

.usuario .foto-usuario {
    display: flex;
    align-items: center;
}
.foto-usuario img{
    width: 32px;
    margin-left: 17px;
    margin-right: 15px;
}

.foto-usuario p{ width: 109px;}

.usuario ion-icon{
    color: rgba(38, 38, 38, 1);
    margin-right: 18.5px;
}

/*              Interação Pubicações                */

.publicacao .interracao-publicacao{ height: 76px; }



.interracao-publicacao .opcoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
}

.opcoes div{
    display: flex;
    align-items: center;
}

.opcoes ion-icon{
    height: 17.88px;
    width: 17.88px;
}

.opcoes div ion-icon:first-of-type{
    padding-left: 17.81px;
}

.opcoes div ion-icon:nth-child(2){
    padding-left: 17.81px;
}

.opcoes div ion-icon:nth-child(3){
    padding-left: 18.12px;
}

.opcoes .icon-bookmark{
    padding-right: 12.62px;
}


.interracao-publicacao .curtidas{
    display: flex;
    height: 34px;
    align-items: center;
    margin-bottom: 0px;
}

.curtidas img{ 
    height: 20px;
    margin-bottom: 14px;
    margin-left: 17px;
    margin-right: 5px;
}

.curtidas p{ 
    margin-bottom: 14px;
}


