@media (max-width: 935px) {

	.barra-lateral{
		display:none;
	}

	.conteudo{
	   display: flex;
	   align-items: center;
	   justify-content: center;
	}

	.publicacoes{
		width: 614px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media (max-width: 614px) {

	.barra-topo-desktop{
		display: none;
	}
	

	.barra-topo-mobile{
		display: flex;
		height: 54px;
		align-items: center;
		justify-content:space-between;
	
	}
	
	.barra-topo-mobile img{ padding-left: 10px;}

	.barra-topo-mobile .logo{
		padding-left: 21.38px;
	}
	.barra-topo-mobile .paper-plane{
		padding-right: 18px;
	}
	.barra-topo-mobile  ion-icon{

		font-size: 19.25px;

	}

	.barra-inferior-mobile{
		display: flex;
		height: 54px;
		align-items: center;
		justify-content:space-between;
		border-top: solid 1px #DBDBDB;
		background: rgba(255, 255, 255, 1);
		position: fixed;
		z-index: 2;
		bottom: 0px;
		left: 0px;
		width: 100%;
	
	}

	.barra-inferior-mobile ion-icon{
		width: 22px;
		height: 22px;
	}

	ion-icon:first-of-type{
		padding-left: 19px;
	}

	ion-icon:last-of-type{
		padding-right: 15px;
	}
	

	/* header{
		display: none;
	} */

	.conteudo{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		/* background: red; */
	
	 }
 
	 .publicacoes{
		 width: 100vw;
		 /* background: yellow; */

		 
		 /* background: none;
		  */

	 }
	 .publicacoes .publicacao{
		 width: 100vw;
		 margin-top: 1px;
	 }

	 .publicacao .imagens{
		width: 100vw;
		height: 100vw;
	}
	.publicacao video{
		width: 100vw;
		height: 100vw;
	}

	.storys{

		width: 100vw;
		margin-top: 1px;
		/* display: none; */

	}
	.storys .seta{
		display: none;
	}


}
