@media (max-width: 935px) {

	.barra-lateral{
		display:none;
	}

	.conteudo{
	   display: flex;
	   align-items: center;
	   justify-content: center;
	}

	.publicacoes{
		width: 614px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media (max-width: 614px) {

	.conteudo{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
	 }
 
	 .publicacoes{
		 width: 100vw;

	 }

	.storys{
		
		background: none;

	}
	.storys .seta{
		display: none;
	}


 



}
